<div class="page-header">
  <h1>Messreihen <small>Detailansicht</small></h1>
</div>

<div class="row">

<div class="list-group col-md-3">
  <!--<a class="list-group-item" href="/#/series/{{series._id}}" active ng-repeat="series in seriesList">
    <h4  class="list-group-item-heading">
      {{series.name}}
    </h4>
  </a>-->
  <ul class="nav nav-pills nav-stacked">
    <li role="presentation" class="{{nseries._id == series._id ? 'active' : ''}}" ng-repeat="nseries in seriesList">
      <a href="/#/series/{{nseries._id}}">{{nseries.name}}<span class="badge">{{nseries.status}}</span></a>
    </li>
    <li role="presentation" class="success {{ createMode ? 'active' : ''}}">
      <a href="/#/series?create=true">
        <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
        Neue Messreihe hinzufügen
      </a>
    </li>
    <!--<li role="presentation" ng-show="ReadingList.length >= 6">
      <a href="/#/series/{{series._id}}">
        <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
        Maximale Anzahl erreicht ({{seriesList.length}}/6)
      </a>
    </li>-->
  </ul>
</div>

<div class="col-md-9 col-sm-12">
<tabset justified="true">
  <tab heading="Eigenschaften">
    <br/>
    <form name="seriesForm" role="form" class="form-horizontal" novalidate valdr-type="Series">
      <div class="form-group">
        <label for="name"
        class="col-md-2 control-label">Name</label>
        <div valdr-form-group class="col-md-10">
          <input type="text" id="name" name="name"
          class="form-control" placeholder="Name" ng-model="series.name"/>
        </div>
      </div>
      <div  class="form-group">
        <label for="description"
        class="col-md-2 control-label">Beschreibung</label>
        <div valdr-form-group class="col-md-10">
          <textarea id="description" name="description" class="form-control"
          placeholder="Beschreibung" ng-model="series.description"></textarea>
        </div>
      </div>
      <div class="form-group">
        <label for="duration"
        class="col-md-2 control-label">Dauer (sec.)</label>
        <div valdr-form-group class="col-md-4">
          <input type="text" id="duration" name="duration"
          class="form-control" placeholder="Dauer" ng-model="series.duration"/>
        </div>
        <label for="frequency" class="col-md-2 control-label">Frequenz (ms)</label>
        <div valdr-form-group class="col-md-4">
          <input type="text" id="frequency" name="frequency"
          class="form-control" placeholder="Frequenz" ng-model="series.frequency"/>
        </div>
      </div>
      <div class="form-group">
        <label for="status" class="col-md-2 control-label">Status</label>
        <div valdr-form-group class="col-md-4">
          <input id="status" name="status" type="text" class="form-control" ng-model="series.status" readonly />
        </div>
        <label for="priority"
        class="col-md-2 control-label">Priorität</label>
        <div valdr-form-group class="col-md-4">
          <select id="priority" name="priority" class="form-control" ng-model="series.priority">
            <option value="-1">Belanglos</option>
            <option value="0">Normal</option>
            <option value="1">Wichtig</option>
            <option value="2">Sehr Wichtig</option>
          </select>
        </div>
      </div>
      <div class="form-group row">
        <label for="starttime"
        class="col-md-2 control-label">Startzeit</label>
        <div valdr-form-group class="col-md-4">
          <input type="text" id="starttime" name="starttime"
          class="form-control" placeholder="Startzeit" readonly value="{{series.starttime | date: 'dd.MM.yyyy \'um\' HH:mm:ss \'Uhr\''}}"/>
        </div>
        <label for="endtime"
        class="col-md-2 control-label">Endzeit</label>
        <div valdr-form-group class="col-md-4">
          <input type="text" id="endtime" name="endtime"
          class="form-control" placeholder="Endzeit" readonly value="{{series.endtime | date: 'dd.MM.yyyy \'um\' HH:mm:ss \'Uhr\''}}"/>
        </div>
      </div>
      <div class="form-group">
        <label for="seriesSave" class="col-md-2 control-label"></label>
        <div valdr-form-group class="col-md-10">
          <button class="btn btn-primary" ng-disabled="saving" ng-click="update(this)">
            <span class="glyphicon {{ createMode ? glyphicon-plus-sign : glyphicon-floppy-save" aria-hidden="true"></span>
            {{ createMode ? 'Hinzufügen' : 'Änderungen speichern' }} {{ saving ? '...' : '' }}
          </button>
          <button class="btn btn-danger" ng-hide="createMode" ng-disabled="deleting" ng-click="delete(this)">
            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
            Löschen{{ deleting ? '...' : '' }}
          </button>
        </div>
      </div>
    </form>
  </tab>
  <tab ng-hide="createMode" heading="Sensoren">
    <table st-table="series.sensors" class="table table-hover">
      <thead>
        <tr>
          <th>Name</th>
          <!--<th>Beschreibung</th>-->
          <th>Type</th>
          <th>Pin</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="sensor in series.sensors">
          <td>{{sensor.name}}</td>
          <!--<td>{{sensor.description | limitTo: 40 }}</td>-->
          <td>{{getDisplayName('type', sensor)}}</td>
          <td>{{sensor.pin}}</td>
          <td><button class="btn btn-danger btn-sm" ng-click="deleteSensor(sensor)">
            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
          </button></td>
        </tr>
        <tr ng-hide="sensorListDiff.length <= 0">
          <td>
            <select class="form-control input-sm" ng-options="sensor as sensor.name for sensor in sensorListDiff" ng-model="newSensor" ng-change="getSensor(newSensor._id)">
            </select>
          </td>
          <!--<td>{{newSensor.description | limitTo: 40 }}</td>-->
          <td>{{getDisplayName('type',newSensor)}}</td>
          <td>{{newSensor.pin}}</td>
          <td><button class="btn btn-primary btn-sm" ng-click="addSensor(newSensor)">
            <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
          </button></td>
        </tr>
      </tbody>
    </table>
  </tab>
  <tab ng-hide="createMode" heading="Messung">Static content</tab>
</tabset>



  <script type="text/ng-template" id="deleteConfirm.html">
    <div class="modal-header">
    <h3 class="modal-title">Löschen einer Messreihe</h3>
    </div>
    <div class="modal-body">
    <p>
      Sind Sie sich sicher, dass sie die Messreihe <b>{{series.name}}</b> und <b>alle dazugehörigen Messwerte</b> unwiederruflich löschen möchten? Es bleiben keine Kopien auf dem Server zurück. <br />

      Die Daten sind ohne ein Backup Ihrerseits <b>nicht mehr wiederherzustellen</b>.
    </p>
    </div>
    <div class="modal-footer">
    <button class="btn btn-danger" ng-click="confirm()">
      <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
      Unwiederruflich Löschen
    </button>
    <button class="btn btn-warning" ng-click="cancel()">Abbrechen</button>
    </div>
  </script>

</div>
</div>
